option_settings:
  aws:elasticbeanstalk:application:environment:
    CSRF_TRUSTED_ORIGINS: "https://api.kinddhelp.com,https://kinddhelp.com,https://www.kinddhelp.com"
    DB_HOST: "chla-postgres-db.cpkvcu4f59w6.us-west-2.rds.amazonaws.com"
    DB_NAME: "postgres"
    DB_PASSWORD: "CHLASecure2024"
    DB_PORT: "5432"
    DB_SSL_REQUIRE: "true"
    DB_USER: "chla_admin"
    DJANGO_DEBUG: "false"
    DJANGO_SECRET_KEY: "k^v1yy9u1z+ztuj9wg))si(8q5s8%7k3#aorgm78jqwy@k@kg#"
    DJANGO_SETTINGS_MODULE: "maplocation.settings"
    ALLOWED_HOSTS: "*"
